<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
		</div>
		<div class="ui-grid-col-6">
			<button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4"><a href="#"><img  [src]="car.foto" alt="Car"></a></div>
		<div class="ui-grid-col-8">
			<input pInputText [(ngModel)]="car.model" />
			<input pInputText [(ngModel)]="car.color" />
			<input pInputText [(ngModel)]="car.number" />
		</div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label for="autocolonna">Автоколонна</label>
			<input pInputText id="autocolonna" [(ngModel)]="car.autocolonna" />
		</div>
		<div class="ui-grid-col-8">
			<p>Автомобиль организации</p>
		</div>
	</div>
	<!--<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label for="id">Водители</label>
			<input pInputText id="id" [(ngModel)]="driver.id" />
		</div>
		<div class="ui-grid-col-8">
			<input pInputText [(ngModel)]="driver.familia" />
		</div>
	</div>-->
</div>